/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.09.2015, 16:51:05
    Author     : Алексей
*/
html {
    background-color: #303D3E;
}

.mainmenu {
	position: absolute;
}

div.background {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    transition: opacity 2s ease-in-out;
}

div.background.div-hidden {
    opacity: 0;
}

div#background-1 {
    background: #303D3E url(../images/background/1.jpg) no-repeat center/cover fixed;
}

div#h_story {
	font-size: x-large;
	margin-bottom: 45px;
    text-align: center;
    font-family: "exo_2.0extra_light",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.guest-welcome {
    background-color: rgba(25, 25, 25, 0.3);
	overflow-y: auto;
}

.guest-reg * {
    margin-bottom: 25px;
    text-align: center;
    font-family: "exo_2.0extra_light",Helvetica,Arial,sans-serif;
}

.guest-reg input {
    width: 30%;
    min-width: 200px;
    text-align: center;
    font-size: large;
    border: none;
    padding: 15px;
    background-color: rgba(255,255,255,0.9);
}

button.get-invite:hover {
    background-color: lightblue;
}

form.validated input:invalid {
    background-color: rgba(255,150,150,0.9);
    border: none;
}

input {
    margin-left: inherit;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    color: white;
    font-weight: bold;
	outline: #aaa auto 5px;
}

input:focus {
	outline: white auto 5px;
	background-color: rgba(255,255,255,0.5);
}

@media screen and (max-width: 1280px) {
    h1.title {
        font-size: 4em;
    }
    h2.subtitle {
        font-size: 2em;
    }
	button.get-invite {
		font-size: large;
		height: 60px;
		margin-bottom: 30px;
		background-color: whitesmoke;
		border: none;
		font-family: "exo_2.0extra_light",Helvetica,Arial,sans-serif;
		font-weight: bold;
		transition: background ease-in-out 2s;
	}
}

@media screen and (max-width: 800px) {
    h1.title {
        font-size: 3em;
    }
    h2.subtitle {
        font-size: 1em;
    }
	button.get-invite {
		font-size: medium;
		height: 40px;
		margin-bottom: 30px;
		background-color: whitesmoke;
		border: none;
		font-family: "exo_2.0extra_light",Helvetica,Arial,sans-serif;
		font-weight: bold;
		transition: background ease-in-out 2s;
	}
	.guest-reg input {
		font-size: medium;
		padding: 5px;
	}
}

button.get-invite {
	font-size: x-large;
	height: 70px;
	margin-bottom: 40px;
    background-color: whitesmoke;
    border: none;
    font-family: "exo_2.0extra_light",Helvetica,Arial,sans-serif;
    font-weight: bold;
    transition: background ease-in-out 2s;
}

@media screen {
	#YMapsID {
		height: 500px;
	}
}

@media handheld {
	#YMapsID {
		height: 250px;
	}
}

html {
	overflow: hidden;
}

div.player > p {
    font-family: "exo_2.0extra_light",Helvetica,Arial,sans-serif;
    padding: 0px;
    margin: 0px;
}

div.player > img {
    display: block;
}

div.player {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    height: 50px;
    margin-right: 5px;
    position: absolute;
    color: black;
	overflow: hidden;
}

div.play-button {
    height: 50px;
    width: 50px;
    transition: background ease-in-out .8s;
}

div.play-button:hover {
    background-color: lightblue;
}

div.play-description {
    margin-left: 53px;
}

div.play-description {
    padding: 3px 15px;
}

p.artist {
    font-weight: bold;
}
p.song-title {
	font-size: small;
}

div#main-logo {
    background-image: url('./../images/logo.png');
    background-size: contain;
    height: 150px;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 30px;
}